# Django Configuration
DEBUG=True
SECRET_KEY=""
DJANGO_SETTINGS_MODULE="skillforge.settings.base"

# DATABASE
DB_NAME=""
DB_USER=""
DB_PASSWORD=""
DB_HOST=""
DB_PORT=""

# Redis Configuration
REDIS_HOST="redis"
REDIS_PORT="6379"

# LOGGIN
ROOT_LOG_LEVEL="INFO"
DJANGO_LOG_LEVEL="ERROR"

TZ=Europe/London

# MongoDB Configuration
MONGO_DB_NAME=""
MONGO_HOST="mongodb://"
MONGO_USER=""
MONGO_PASSWORD=""
MONGO_AUTH_SOURCE=""

# Logging Configuration
ASYNC_LOGGING=True

# Telegram Configuration
TELEGRAM_REMINDER_BOT_TOKEN=""
TELEGRAM_ASSISTANT_BOT_TOKEN=""
TELEGRAM_REMINDER_CHAT_ID=""

# Exchange Rate
EXCHANGE_RATE_API_KEY=""
